@use '../../partials/_config.scss' as *;

#container_mistura{
  text-align: center;

  @media (max-width: 700px) {
    margin-block: $escala-g ;
  }

  h1{
    font-style: $fonte-2;
  }

  #wrapper_itens{
    display: grid;
    grid-auto-flow: column;
    height: 250px;
    width: 100%;
    gap: $escala-p;
    margin-block: $escala-xg;

    @media (max-width: 700px) {
      margin-block: $escala-pp $escala-g;;
    }
  }
}

#container_tiposCafe{
  background: $cor-3;
  padding: $escala-xxg;

  @media (max-width: 700px) {
    padding: $escala-p;
  }

  #wrapper_types{
    display: grid;
    grid-auto-flow: column;
    gap: $escala-p;
    margin-bottom: $escala-m;

    @media (max-width: 700px) {
      grid-auto-flow: row;
      gap: $escala-xg;

    }
  }
}