@use '../../partials/_config.scss' as *;

#navbar_container{
  background: $cor-1;

  @media (max-width: 700px) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
  }

  #navbar_wrapper{
    height: 100px;
    margin: 0 auto;
    width: 60rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    #btn_open, #btn_close{
      display: none;
    }


    @media (max-width: 700px) {
      width: 100%;
      padding: $escala-p;

      #btn_open, #btn_close{
        display: initial;
        font-size: $escala-m;
        color: $cor-2;
      }
    }

    #navbar_icon, nav a {
      color: white ;
    }

    #navbar_icon{
      width: 30%;
      font-size: $escala-m;
      font-style: italic;
      font-weight: bold;
      font-family: $fonte-1;

      @media (max-width: 700px) {
        font-size: initial;
        width: auto;
      }

    }

    .navOpen{
      right: 0;
    }

    nav{
      display: flex;
      transition: 200ms;

      @media (max-width: 700px) {
        right: -100%;
        position: fixed;
        top: 0;
        z-index: 100;
        width: 90%;
        height: 100vh;
        background: $cor-1;
        flex-direction: column;
        padding: $escala-m;
        align-items: center;
        justify-content: center;
      }

      a{
        padding: $escala-p;
        border-radius: 5px;
        transition: 200ms;
        margin-inline: $escala-pp;

        &:hover{
          background: $cor-2;
          color: $cor-1;
      }
      }
    }
  }
}

